.clock {
    width:100%;
    text-align: center;
    margin:20% auto 0;
    box-sizing: border-box;
}
.js-clock h2 {
    font-size: 3vw;
    font-family: 'Michroma', sans-serif;
    margin-bottom: 30px;
}
.js-clock {
    font-size: 3vw;
    color:#fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 1;
}
.form,
.greetings {
    display:none;
}
.showing {
    display: block;
    color:#fff;
    font-size: 2vw;
}
.js-weather {
    display: block;
    font-size: 12px;
    margin-bottom: 30px;
    
}
.js-form input,.js-toDoForm input{
    padding:10px 10px;
    border:none;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #ffffffcc;
}
.js-form input::placeholder .js-toDoForm input::placeholder{
    font-size: 12px;
    font-family: 'Michroma', sans-serif;
    color:#666;
}
.js-toDoList {
    text-align: left;
    /* border:2px solid #fff; */
    padding:20px;
    border-radius: 6px;
}
.js-toDoList li {
    transition: .3s;
    display: flex;
    
}
.js-toDoList li span {
    display: block;
    width:100%;
    padding:10px 0px;
    text-indent: 20px;
    font-family: 'Abril Fatface'; 
    color:#fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.js-toDoList li:hover span{
    background: #ffffff88;
}
.js-toDoList button {
    margin-right:30px;
    -webkit-appearance: none;
    background: transparent;
    border:none;
    cursor: pointer;
}
.js-toDoList li:hover button {
    color:#f00;
}
.removeAll {
    color:#fff;
    font-family: 'Michroma', sans-serif; 
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: bold;
    width:68px;height:36px;
    border-radius: 50%;
    border:none;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
}
.removeAll:hover {
    background: rgba(255, 140, 140, 0.3); 
    color:#f00;
}
.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation:fadeIn .5s linear;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}