#preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    overflow: hidden !important;
    transform: rotate(90deg) scaleY(200%);
    z-index: 1000;
  }
#preloader .curtain {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -165px;
    left: auto;
    width: 0;
    height: 100%;
    height: 100vh;
    background: #000000;
    -webkit-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -moz-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
#preloader .curtain:before {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    left: -160px;
    width: 165px;
    height: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='164.66' height='1080' viewBox='0 0 164.66 1080'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cpath d='M33.62,1080h131V0h-131A163.35,163.35,0,0,0,20.21,15.76C5.15,36-4,62.18,1.69,86.79,16.36,150.53,114.12,166.52,128.2,230.4c7.94,36-15.13,73.25-8.15,109.45,4.87,25.28,23.59,45.64,32.09,69.94,14,40-1.72,84.84-25.73,119.79s-56,63.86-80.15,98.7-40.32,79.4-26.9,119.63C32.42,787,71.43,816.42,73.84,857.6c1.85,31.71-18.87,65.19-4.74,93.65,14.4,29,66.63,35.73,66.63,68.12C135.73,1045.52,57.55,1053.26,33.62,1080Z' style='fill:%23000000'/%3E%3C/svg%3E");
    background-repeat: repeat-y;
    background-position: 0px 0px;
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -moz-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    animation: curtainWave 7.5s linear infinite;
    -moz-animation: curtainWave 7.5s linear infinite;
    -webkit-animation: curtainWave 7.5s linear infinite;
    -ms-animation: curtainWave 7.5s linear infinite;
    -o-animation: curtainWave 7.5s linear infinite;
  }
#preloader .curtain:after {
    content: "";
    display: none;
    position: absolute;
    top: 0;
    right: -166px;
    width: 171px;
    height: 100%;
    height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='170.82' height='1080' viewBox='0 0 170.82 1080'%3E%3Ctitle%3EAsset 2%3C/title%3E%3Cpath d='M82.5,951.25c-14.13-28.46,6.59-61.94,4.74-93.65C84.83,816.42,45.82,787,32.76,747.91c-13.42-40.23,2.73-84.8,26.91-119.63s56.13-63.74,80.14-98.7,39.74-79.76,25.73-119.79c-8.5-24.3-27.22-44.66-32.09-69.94-7-36.2,16.1-73.44,8.16-109.45C127.52,166.52,29.76,150.53,15.1,86.79,9.44,62.18,18.56,36,33.61,15.76A163.35,163.35,0,0,1,47,0H0V1080H47c23.93-26.74,102.11-34.48,102.11-60.63C149.13,987,96.9,980.26,82.5,951.25Z' style='fill:%23000000'/%3E%3C/svg%3E");
    background-repeat: repeat-y;
    background-position: 0px 0px;
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: top left;
    -webkit-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -moz-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -o-transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    animation: curtainWave 7.5s linear infinite;
    -moz-animation: curtainWave 7.5s linear infinite;
    -webkit-animation: curtainWave 7.5s linear infinite;
    -ms-animation: curtainWave 7.5s linear infinite;
    -o-animation: curtainWave 7.5s linear infinite;
  }
  
#preloader.slide-in .curtain {
    right: 0;
    margin-right: -165px;
    left: auto;
    width: 150%;
  }
#preloader.slide-in .curtain:before {
    display: block;
    -moz-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
#preloader.slide-in .curtain:after {
    display: block;
  }
  
 #preloader.slide-out .curtain {
    right: auto;
    margin-left: -171px;
    left: -171px;
    width: 0;
  }
 #preloader.slide-out .curtain:before {
    display: block;
  }
#preloader.slide-out .curtain:after {
    display: block;
    -moz-transform: scaleX(2);
    -webkit-transform: scaleX(2);
    -ms-transform: scaleX(2);
    -o-transform: scaleX(2);
    transform: scaleX(2);
  }
  
@keyframes curtainWave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -1080px;
    }
  }
@-moz-keyframes curtainWave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -1080px;
    }
  }
@-webkit-keyframes curtainWave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -1080px;
    }
  }
@-ms-keyframes curtainWave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -1080px;
    }
  }
@-o-keyframes curtainWave {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 -1080px;
    }
  }
svg#wave {
    position:absolute;
    left: 0;top: 0;
    z-index: -1;
    transition:.5s;
}
svg#wave >path.on{
    transform: scaleY(80%);
    opacity:1;
}
svg#wave >path {
    position:absolute;
    left: 0;top: 0;
    transform: scaleY(0%);
    opacity:0;
    fill:#000;
    transition: .5s 1s linear;
}