/* media query*/
/* 화면 너비 0 ~ 1220px */
@media (max-width: 1220px){
    svg#wave >path.on{
        transform: scaleY(100%);
    }
    #header {
        display: flex;
        box-sizing: border-box;
        color:#fafafa;
        flex-wrap: wrap;
    }
    #header .right.on nav li a {
        font-size: 16px;
    }
    #section1 .mainBottom .swiper-container {
        height:360px;
    }
    #section1 .mainBottom .mainClock {
        flex-basis: 55%;
    }
    .slideNum {
        flex-basis: 15%;
    }
    #section1 .mainBottom .swiper-container {
        flex-basis: 30%;
    }
    .lineText >div {
        height: 56px; 
        line-height: 56px;
    }
    #section2 .slo.slo2 {
        bottom: -13%;
    }
    #section2 .container .greet {
        margin-top: -200px;
    }
    .site-wrap .site .left .browser {
        height:420px;
        margin: 0%;
        margin-right: 5%;
    }
    .site-wrap .site:nth-child(even) .left .browser {
        height:420px;
        margin: 0%;
        margin-left: 5%;
    }
    .site-wrap .site .left .browser .top {
        height:40px;
    }
    .site-wrap .site .left .browser .top h3{
        font-size: 16px;
        font-weight: lighter;
    }
    .site-wrap .site .right h3 {
        margin-left: -120px;
        margin-top: -70px;
    }
    .site-wrap .site:nth-child(even) .right h3 {
        margin-left: -120px;
        margin-top: -70px;
    }
    .site-wrap .site .right dd,
    .site-wrap .site .right .rightP {
        font-size: 16px;
        line-height: 1.4;
    }
    .site-wrap .site .right dt{
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .site-wrap .site .right .btn{
        bottom: 5%;
    }
    .site-wrap .site .center h3 {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .site-wrap .site .center .code .codeBox {
        width:100%;
        height:360px;
    }
     #section7 .content_line .lineText{
        height:55vh;
    }
    #section7 .content_line .slo.slo6{
        top: 10%;
    }
    #section7 .content_line .slo.slo7{
        bottom: 10%;
    }
    .drag-container {
        height: 200vh;
    }
    .drag-content.drag_content01 {
        width:60%;
        height:600px;
        left:10%;
        top:-10%;
        z-index: 5;
    }
    .drag-content.drag_content02 {
        width:70%;
        height:500px;
        left:25%;
        top:20%;
    }
    .drag-content.drag_content03 {
        width:50%;
        height:400px;
        left:5%;
        top:40%;
        
    }
    .drag-content.drag_content04 {
        width:60%;
        height:800px;
        left:30%;
        top:35%;
    }
    .drag-content.drag_content05 {
        width:45%;
        height:400px;
        left:40%;
        top:70%;
    }
    .drag-content.drag_content06 {
        width:70%;
        height:500px;
        left:5%;
        top:55%;
    }
    #section8 .content_line .stairText li:nth-of-type(1){margin-left: 26vw;}
    #section8 .content_line .stairText li:nth-of-type(2){margin-left: 40vw; line-height: 1.6;}
    #section8 .content_line .stairText li:nth-of-type(3){margin-left: 54vw;}
    #section8 .container .conRight .wrap{
        padding:40px 0px 0;
    }
    #section8 .container .conRight{
        padding:0px;
    }
    #section9 .container .slo10 {
        font-size: 15vw;
    }
}
/* 화면 너비 0 ~ 1024px */
@media (max-width: 1024px){
    #section1 .mainBottom{
        height: 500px;
    }
    .container {
        padding:0 60px;
    }
    #header {
        margin-bottom: 50px;
    }
    #header .container{
        padding-top:20px;

    }
    #header .right nav {
        display: none;
    }
    #header .right .ham {
        display: block;
    }
    #section1 .center {
        margin: 0 auto 60px;
    }
    #section1 .mainBottom .swiper-container {
        height:320px;
    }
    #section1 .mainBottom .mainClock {
        flex-basis: 50%;
    }
    .slideNum {
        flex-basis: 20%;
    }
    #section1 .mainBottom .swiper-container {
        flex-basis: 30%;
    }
    
    .lineText .lt1 {
     top: -8%;
    }
    .stairText li {
        width: 420px; height:90px; 
        margin-bottom: 60px;
    }
    .stairText li:nth-child(1){margin-left:40vw;}
    .stairText li:nth-child(2){margin-left:30vw;}
    .stairText li:nth-child(3){margin-left:20vw;}
    #section4 .photo3 {
        width: 440px; height:500px; 
        background: url(../img/photo3.jpg) no-repeat -50px top/contain;
        margin-top: 3%;
    }
    #section4 .round2 {
        position: absolute; left:10vw; top: 5%;
    }
    #section4 .photo4 {
        margin-top: 20%;
    }
    .site-wrap {
        padding:0 60px;
    }
    .site-wrap .site .right h3 {
        margin-top: -50px;
    }
    .site-wrap .site:nth-child(even) .right h3 {
        margin-top: -50px;
    }
    .sec6 {
        width: 400%;
    }
    .content_line {
        margin-bottom: 150px;
    }
    #section7 .content_line .slo.slo6{
        top: 15%;
    }
    #section7 .content_line .slo.slo7{
        bottom: 15%;
    }
    #section7 .content_line .lineText{
        height:45vh;
    }
    #section8 .content_line .stairText li:nth-of-type(1){margin-left: 26vw;}
    #section8 .content_line .stairText li:nth-of-type(2){margin-left: 40vw; line-height: 1.6;}
    #section8 .content_line .stairText li:nth-of-type(3){margin-left: 54vw;}
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px){
    .container {
        padding:0 40px;
    }
    #header {
        margin-bottom:30px;
    }
    #section1 .center {
        margin:0 auto 60px;
    }
    #section1 .mainBottom{
        height: 450px;
    }
    #section1 .mainBottom .swiper-container {
        height:300px;
    }
    .lineText {
        height:55vh; 
        margin-bottom: 5vh;
    }
    .lineText >div {
        height: 46px; 
        line-height: 46px;
        font-size: 2.4vw;
    }
    .line1 {
        height: 180px; 
    }
    #section2 .container .greet {
        margin-top: -160px;
        margin-bottom: 130px;
    }
    #section3 .container .moreBtn {
        margin-top:0px;
    }
    .site-wrap .site .left .browser {
        height:360px;
    }
    .site-wrap .site:nth-child(even) .left .browser {
        height:360px;
    }
    .site-wrap .site .right dd,
    .site-wrap .site .right .rightP {
        font-size: 14px;
    }
    .site-wrap .site .right dt{
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
    }
    .site-wrap .site .center .code .codeBox {
        width:100%;
        height:320px;
    }
    #section6 .container >div .aniTitle p{
        font-size: 18px;
    }
    #section6 .container >div .aniTitle >span{
        font-size: 13.5px;
    }
    .content_line {
        margin-bottom: 100px;
    }
     #section7 .content_line .lineText{
        height:35vh;
    }
    #section8 .content_line .line1 {
        top: 30%; 
        height:200px;
    }
    #section8 .content_line .stairText {
        margin-top: 60px;
    }
    #section8 .content_line .stairText li {
        margin-bottom: 30px;
    }
    #section8 .content_line .stairText li:nth-of-type(1){margin-left: 22vw;}
    #section8 .content_line .stairText li:nth-of-type(2){margin-left: 40vw; line-height: 1.6;}
    #section8 .content_line .stairText li:nth-of-type(3){margin-left: 22vw;}
    #section8 .content_line .slo8 {
        margin-top:-400px;
    }
    #section8 .container .conRight {
        padding:0px;
    }
    #section8 .container .conRight .wrap{
        padding:140px 0px 0;
    }
}
/* 화면 너비 0 ~ 768px */
@media (max-width: 768px){
    #section1 .center {
        margin:0 auto;
    }
    #section1 .mainBottom{
        height: 300px;
    }
    #section1 .mainBottom .container{
        height:200px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    #section1 .mainBottom .mainClock {
        flex-basis: 20%;
        width: 100%;
        text-align: left;
    }
    .slideNum {
        display: none;
    }
    #section1 .mainBottom .swiper-container {
        flex-basis: 80%;
        width: 100%;
        height:100%;
    }
    .slideTitle {
        right: 10%;
        top:0px;
    }
    .swiper-slide img {
        width:100%;
    }
    #section2 .container .greet {
        margin-top: -50px;
        margin-bottom: 0px;
    
    }
    .lineText {
        height:40vh;
        font-size: 2vw;
         margin-bottom: 15vh;
         padding-top: 100px;
    }
    .lineText >div {
        height: 35px; 
        line-height: 35px;
    }
    .lineText .lt1 {
        top: -5%;
    }
    
    #section3 .container >article{
        flex-direction: column;
        align-items: center;
    }

    #section3 .container >article:nth-of-type(2){
        display: none;
    }
    #section3 .container >article .photo { 
        text-align: center;
        height: 100%;
        margin-bottom: 50px;
    }
    #section3 .container >article >div img {
        display: inline-block;
        width: 60%;
    }
    #section3 .container >article .sec3__text {
        display:block;
        padding-left: 0%;
        text-align: center;
       
    }
    #section3 .container .slo.slo3 {
        margin-top:-240px;
    }
    #section3 .container .moreBtn {
        margin-top:-80px;
        width:15vw; height:15vw; 
        padding-top: 6vw; 
        font-size:1.6vw;
    }
    #section3 .container .moreBtn::after {
     width:5vw; height:5vw;
    }
    #section4 .slo.slo4 {
     margin-top:-450px;
    }
    #section4 .photo3, #section4 .photo4 {
        margin-top:0;
    }
    .stairText {
        margin-top: 0;
        margin-bottom:220px;
    }
    .stairText li {
        width: 360px; height:80px;
        margin-bottom: 40px;
    }
    .stairText li:nth-child(1){margin-left: 26vw;}
    #section4 .round3 {
        top:35%;
    }
    .scrolltext .text {
        bottom: 45%;
    }
    .site-wrap {
        padding:0 40px;
    }
    .site-wrap .site {
        flex-direction: column;
        margin-bottom: 18vw;
    }
    .site-wrap .site .left {
        order:2;
    }
    .site-wrap .site .right {
        order:1;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .site-wrap .site .right dl {
        width:80%;
    }
    .site-wrap .site:nth-child(even) .right dl {
        width:80%;
        padding-left: 20%;
    }
    .site-wrap .site .right h3 {
        margin-left: 0px;
        margin-top: 0px;
        display: inline-block;
    }
    .site-wrap .site:nth-child(even) .right h3 {
        margin-right: 0;
        margin-top: 0px;
        display: inline-block;
    }
    .site-wrap .site .left .browser {
        height:360px;
        margin-right: 0%;
    }
    .site-wrap .site:nth-child(even) .left .browser{
        margin-left: 0;
    }
    .site-wrap .site:nth-child(even) .left .browser {
        height:360px;
    }
    .site-wrap .site:nth-child(even) .right {
        text-align: right;
    }
    .site-wrap .site .right dd,
    .site-wrap .site .right .rightP {
        font-size: 14px;
    }
    .site-wrap .site .right dt{
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 0;
    }
    .site-wrap .site .right h3 {
        margin-bottom: 10px;
    }
    .site-wrap .site .right .btn{
        padding: 0.7rem 1.8rem;
        font-size: 0.8rem;
        top:0;
        bottom:auto;
    }
    .site-wrap .site .right .btn .marquee__inner span {
        padding: 0.7rem 0.5rem;
    }
    .site-wrap .site .center {
        order:3;
        margin-bottom: 100px;
    }
    .site-wrap .site .center .wrap {
        width: 100%;
        padding-left: 0%;
    }
    .site-wrap .site .center .code {
        margin-top: -10px;
    }
    .site-wrap .site .center .code .codeBox {
        height:300px;
    }
    #section6 .container >div .aniTitle p{
        font-size: 15px;
    }
    #section6 .container >div .aniTitle >span{
        font-size: 12px;
    }
    .content_line {
        margin-bottom: 0;
    }
    #section7 .content_line .slo.slo6{
        top: 30%;
    }
    #section7 .content_line .slo.slo7{
        bottom: 30%;
    }
    .drag-container {
        height: 220vh;
    }
    .drag-content.drag_content01 {
        width:80%;
        height:500px;
        left:10%;
        top:-10%;
        z-index: 5;
    }
    .drag-content.drag_content02 {
        width:80%;
        height:500px;
        left:10%;
        top:20%;
    }
    .drag-content.drag_content03 {
        width:80%;
        height:500px;
        left:10%;
        top:40%;
        
    }
    .drag-content.drag_content04 {
        width:80%;
        height:500px;
        left:10%;
        top:35%;
    }
    .drag-content.drag_content05 {
        width:80%;
        height:500px;
        left:10%;
        top:55%;
    }
    .drag-content.drag_content06 {
        width:80%;
        height:500px;
        left:10%;
        top:80%;
    }
    #section8 .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #section8 .container .conLeft {
        padding:50px 5%;
    }
    #section8 .container .conLeft >img{
        width: 100%;
        margin-top: -50px;
        margin-bottom: 50px;
    }
    #section8 .container .conRight .wrap{
        padding:40px 0px 0;
    }
    #section9 .lineText {
        top: 0;
        height:100px;
        padding-top: 20px;
        margin-bottom: 40px;
    }
    .lineText .lt3 {
        line-height: 100px;
        font-size: 6vw;
    }
    #section10 .container .link{
    justify-content: flex-end;
}
    #section10 .container .footerBottom a,#section10 .container .footerBottom span {
        font-size: 12px;
    }
    #section10 .container .footerBottom span.end {
        font-size: 13px;
    }

}

/* 화면 너비 0 ~ 600px */
@media (max-width: 600px){
    #header {
        margin-bottom:10px;
    }
    #section1 .center {
        margin:0 auto 0px;
    }
    .container {
        padding:0 30px;
    }
    #header .container{
        padding-top:20px;
    }
    #section1 .center p:nth-of-type(2) {
        margin-left: -40%;
    }
    #section1 .center p span {
        display:none;
    }
    #section1 .mainBottom .swiper-container {
        height:100px;
    }
    .lineText {
        height:32vh;
    }
    .lineText >div {
        height: 30px; 
        line-height: 30px;
    }
    .lineText .lt1 {
        top: 0%;
    }
    .line1 {
        height:150px;
    }
    #section3 .container {
        padding-bottom: 160px;
    }
     .stairText li {
        width: 320px; height:80px;
        margin-bottom: 30px;
        padding-left: 5%;
    }
    .stairText li strong {
        font-size: 12px;
    }
    .stairText li span {
        font-size: 8px;
    }
    .stairText li::after{
        right:16px;
        width:30px; height:30px;
    }
    .site-wrap .site .right h3 {
        margin-bottom: 50px;
    }
    .sec6 {
        width: 600%;
    }
    #section7 .content_line .slo.slo6{
        top: 35%;
    }
    #section7 .content_line .slo.slo7{
        bottom: 35%;
    }
    #section10 .container .link .link-icon {
        height:46px;
    }
    #section10 .container .footerTop ul {
        display: none;
    }
    #section10 .container .footerBottom {
        padding-top: 16px;
    }
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px){
    #header {
        margin-bottom:0px;
    }
    #section1 .mainBottom .swiper-container {
        height:40px;
    }
    #section2 .container .greet {
        margin-top: -160px;
        margin-bottom: 40px;
    }
    .lineText {
        height:26vh;
    }
    .lineText >div {
        height: 30px; 
        line-height: 30px;
    }
    .line1 {
        height:120px;
    }
    .stairText li {
        width: 260px;
    }
    .stairText li span {
        width:80%;
        white-space: normal;
        word-break: break-all;
    }
    #section7 .content_line .slo.slo6{
        top: 30%;
    }
    #section7 .content_line .slo.slo7{
        bottom: 30%;
    }
    #section9 .link .link-icon {
        display: inline-block;
        width: 36px;
        height:36px;
    }


}

/* 화면 너비 0 ~ 320px */
@media (max-width: 320px){
    
}